<ul class="list-group">
  <li class="list-group-item active font-weight-bold">Request template</li>
  <li class="list-group-item list-group-item-primary font-weight-bold">URL</li>
  <li class="list-group-item">
  {{constants.SERVER_URL}}/ocpi/cpo/2.1.1/tokens/{% for p in parameters if p.key == 'USER_COUNTRY_CODE' %}{{ p.value }}{% else%}<b>country_code not defined in Parameters</b>{% endfor %}/{% for p in parameters if p.key == 'USER_PARTY_ID' %}{{ p.value }}{% else%}<b>party_id not defined in Parameters</b>{% endfor %}/{TOKEN_UID}</li>
  <li class="list-group-item list-group-item-primary font-weight-bold">HTTP Verb</li>
  <li class="list-group-item">PATCH</li>
  <li class="list-group-item list-group-item-primary font-weight-bold">Headers</li>
  <li class="list-group-item">content-type : application/json</li>
  <li class="list-group-item">Authorization : Token {% for p in parameters if p.key == 'AUTHORISATION_TOKEN_TOSERVER' %}{{ p.value }}{% endfor %}</li>
  <li class="list-group-item list-group-item-primary font-weight-bold">Body</li>
  <li class="list-group-item">{<br/>
  "uid": "{TOKEN_UID}",<br/>
  "type": "{TOKEN_TYPE}",<br/>
  "auth_id": "{TOKEN_AUTH_ID}",<br/>
  "visual_number": "{TOKEN_VISUAL_NUMBER}",<br/>
  "issuer": "{TOKEN_ISSUER}",<br/>
  "valid": {TOKEN_VALID},<br/>
  "whitelist": "{TOKEN_WHITELIST}",<br/>
  "last_updated": "{TOKEN_LAST_UPDATED}"<br/>
}</li>
</ul>
