<form id="setWebserviceParameters" action="/">
    <div class="form-group">
        <label for="POST_TOKEN_AUTHORIZE_ALLOWED">Allowed value returned by the server</label>
        <select class="form-control" id="POST_TOKEN_AUTHORIZE_ALLOWED" name="POST_TOKEN_AUTHORIZE_ALLOWED">
            <option {% for p in parameters if p.key == p.POST_TOKEN_AUTHORIZE_ALLOWED and p.value =='ALLOWED' %}selected{% endfor %}>ALLOWED</option>
            <option {% for p in parameters if p.key == p.POST_TOKEN_AUTHORIZE_ALLOWED and p.value =='BLOCKED' %}selected{% endfor %}>BLOCKED</option>
            <option {% for p in parameters if p.key == p.POST_TOKEN_AUTHORIZE_ALLOWED and p.value =='EXPIRED' %}selected{% endfor %}>EXPIRED</option>
            <option {% for p in parameters if p.key == p.POST_TOKEN_AUTHORIZE_ALLOWED and p.value =='NO_CREDIT' %}selected{% endfor %}>NO_CREDIT</option>
            <option {% for p in parameters if p.key == p.POST_TOKEN_AUTHORIZE_ALLOWED and p.value =='NOT_ALLOWED' %}selected{% endfor %}>NOT_ALLOWED</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary"
            onclick="setWebserviceParameters()">
        Save
    </button>
</form><br/><br/>

<ul class="list-group">
  <li class="list-group-item active font-weight-bold">Request template</li>
  <li class="list-group-item list-group-item-primary font-weight-bold">URL</li>
  <li class="list-group-item">
  {{constants.SERVER_URL}}/ocpi/emsp/2.1.1/tokens/{TOKEN_UID}/authorize?type={TOKEN_TYPE}</li>
  <li class="list-group-item list-group-item-primary font-weight-bold">HTTP Verb</li>
  <li class="list-group-item">POST</li>
  <li class="list-group-item list-group-item-primary font-weight-bold">Headers</li>
  <li class="list-group-item">Authorization : Token {% for p in parameters if p.key == 'AUTHORISATION_TOKEN_TOSERVER' %}{{ p.value }}{% endfor %}</li>
  <li class="list-group-item list-group-item-primary font-weight-bold">Body</li>
  <li class="list-group-item">
{<br/>
  "location_id": {LOCATION_ID},<br/>
  "evse_uids": [{EVSE_UID1},{EVSE_UID2},...],<br/>
  "connector_ids": [{CONNECTOR_ID1}, {CONNECTOR_ID2}, ...]<br/>
}</li>
</ul>
