<form id="launchRequest" action="/">
    <div class="form-group">
        <label for="request_template">Request template : </label>
        <textarea class="form-control" id="request_template" name="request_template" style="padding-bottom:25px;" rows="10">
{
  "url": "{{constants.SERVER_URL}}{{constants.TO_CPO_VERSIONS_ENDPOINT_CONSTANT}}",
  "token": "{% for p in parameters if p.key == p.AUTHORISATION_TOKEN_TOSERVER %}{{ p.value }}{% endfor %}",
  "country_code": "{% for p in parameters if p.key == p.SERVER_COUNTRY_CODE %}{{ p.value }}{% else%}country_code of the server not defined in Parameters{% endfor %}",
  "party_id": "{% for p in parameters if p.key == p.SERVER_PARTY_ID %}{{ p.value }}{% else%}party_id of the server not defined in Parameters{% endfor %}",
  "business_details": {
    "name": "gireve-ocpi-tester-cpo"
  }
}</textarea>
    </div>
    <button type="button" class="btn btn-primary"
            onclick="launchForm('/fromserver/ocpi/cpo/2.1.1/credentials/POST_emsp_Credentials');">
        Send
    </button>
</form>