{% extends "squelette.html" %}

{% block content %}
{{ super() }}
<!-- Corps de la page -->
<div class="inner cover text-center mt-5" style="height: 100%;padding-bottom:150px;">
    <h2 class="cover-heading">Welcome to the GIREVE OCPI tester tool ({{ version }} bêta)</h2>
    <p class="lead">Thanks to our tool, test your connection to GIREVE very easily, start by entering your parameters in the dedicated tab and then start testing each of the OCPI modules that you have developed.</p>
    <hr>
    <p>You can find the documentation on the OCPI Github : </p>
    <a target="_blank" href="https://github.com/ocpi/ocpi/tree/release-2.1.1-bugfixes">Version 2.1.1</a>
    <hr>
    <p>The specificities related to gireve will be to be found in the implementation guide that you can find on the download page of our WebSite: <a target="_blank" href="https://www.gireve.com/download">Gireve.com</a></p>
    </div>

</div>
{% include "footer.html" %}
{% endblock %}

