{% extends "bootstrap/base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
{{ super() }}
<script src="{{url_for('static', filename='scripts/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='scripts/moment-with-locales.js')}}"></script>
<script src="{{url_for('static', filename='scripts/flask-moment.js')}}"></script>
{% endblock %}

{% block navbar %}
{{ super() }}
<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/static/GIREVE logo.jpg" style="height:50px; width:80px" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!--<li class="nav-item"><img src="/static/GIREVE logo.jpg" ></li>-->
                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/web/unit-tests">Unitary tests</a></li>
                <li class="nav-item"><a class="nav-link" href="/web/parameters">Parameters</a></li>
            </ul>
        </div>
        {% if 'profile' in session%}
        <div>{{session['profile'].get('name')}}<br/><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bearertokendisplay">Bearer Token for API</button></div>{%endif%}
    </div>
</nav>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="bearertokendisplay" tabindex="-1" role="dialog" aria-labelledby="bearertokenTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bearertokendisplayTitle">Add the bearer Token in header of your requests</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="word-wrap:break-word;">
          {% if 'profile' in session%}X-OCPI-tester-token : Bearer {{session['profile'].get('bearer_token')}}{%endif%}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<!-- Corps de la page -->
<div class="container">
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
{% endblock %}
